<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Chat with {{participantsDisplayname.join(", ")}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" #content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">adsasd</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <div *ngFor="let m of (chat | async)?.messages; let i = index" class="imessage">
      <p class="{{m.senderId === (currentUser | async)?.uid ? 'sent' : 'received'}}">{{m.content}}
        <br>
        <ion-note class="time">{{m.timestamp | date: 'HH:mm'}}</ion-note>
      </p>
    </div>

  </div>
  <!--
  <div id="test"></div>
-->
  <div id="message-input">
    <ion-textarea [(ngModel)]="typingMessage" (keydown.control.enter)="sendMessage()"
      placeholder="Type your message here..." auto-grow="true"></ion-textarea>
    <ion-button color="light" shape="round" (click)="sendMessage()" [disabled]="typingMessage === ''">
      <ion-icon name="send-outline" slot="end"></ion-icon>
    </ion-button>
  </div>
</ion-content>
