.imessage {
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    font-family: "SanFrancisco";
    font-size: 1.25rem;
    margin: 0;
    padding: 0.5rem 1.5rem;
    background-color: var(--ion-color-step-100);
    -webkit-user-select: text;
    -moz-user-select: text;
}

.imessage p {
    border-radius: 1.15rem;
    line-height: 1.25;
    max-width: 75%;
    padding: 0.5rem .875rem;
    position: relative;
    word-wrap: break-word;
    white-space: pre-wrap;
    &.group.received {
        padding: 0.1rem .875rem 0.25rem;
    }
}

p.sent {
    border-bottom-right-radius: 0px !important;
}

p.received {
    border-bottom-left-radius: 0px !important;
}

.imessage p::before,
.imessage p::after {
    bottom: -0.1rem;
    content: "";
    height: 1rem;
    position: absolute;
}

p.sent,
p.sent>ion-note {
    align-self: flex-end;
    background-color: #248bf5;
    color: #fff;
}

p.sent::before {
    border-bottom-left-radius: 0.8rem 0.7rem;
    border-right: 1rem solid #248bf5;
    right: -0.35rem;
    transform: translate(0, -0.1rem);
}

p.sent::after {
    background-color: var(--ion-color-step-100);
    border-bottom-left-radius: 0.5rem;
    right: -40px;
    transform: translate(-30px, -2px);
    width: 10px;
}

p[class^="from-"] {
    width: fit-content;
}

p {
    margin-top: 0px;
    margin-bottom: 0px;
}

p.received,
p.received>ion-note {
    align-items: flex-start;
    background-color: #e5e5ea;
    color: #000;
    width: fit-content;
}

p.received:before {
    border-bottom-right-radius: 0.8rem 0.7rem;
    border-left: 1rem solid #e5e5ea;
    left: -0.35rem;
    transform: translate(0, -0.1rem);
}

p.received::after {
    background-color: var(--ion-color-step-100);
    border-bottom-right-radius: 0.5rem;
    left: 20px;
    transform: translate(-30px, -2px);
    width: 10px;
}

p[class^="from-"].emoji {
    background: none;
    font-size: 2.5rem;
}

p[class^="from-"].emoji::before {
    content: none;
}

.no-tail::before {
    display: none;
}

.margin-b_none {
    margin-bottom: 0 !important;
}

.margin-b_one {
    margin-bottom: 1rem !important;
}

.margin-t_one {
    margin-top: 1rem !important;
}

@font-face {
    font-family: "SanFrancisco";
    src:
        url("https://cdn.rawgit.com/AllThingsSmitty/fonts/25983b71/SanFrancisco/sanfranciscodisplay-regular-webfont.woff2") format("woff2"),
        url("https://cdn.rawgit.com/AllThingsSmitty/fonts/25983b71/SanFrancisco/sanfranciscodisplay-regular-webfont.woff") format("woff");
}

body {
    font-family: -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen-Sans,
        Ubuntu,
        Cantarell,
        "Helvetica Neue",
        sans-serif;
    font-weight: normal;
    margin: 0;
}

.container {
    margin: 0 auto;
    max-width: 600px;
    padding: 1rem;
}

h1 {
    font-weight: normal;
    margin-bottom: 0.5rem;
}

h2 {
    border-bottom: 1px solid #e5e5ea;
    color: #666;
    font-weight: normal;
    margin-top: 0;
    padding-bottom: 1.5rem;
}

#container {
    background-color: var(--ion-color-step-100);
    padding-bottom: 80px;
}

@media screen and (max-width: 800px) {
    body {
        margin: 0 0.5rem;
    }

    .container {
        padding: 0.5rem;
    }

    .imessage {
        font-size: 1.05rem;
        margin: 0 auto 1rem;
        max-width: 600px;
        padding: 0.25rem 0.875rem;
    }

    .imessage p {
        margin: 0.5rem 0;
    }

    #container {
        padding-bottom: 60px;
    }
}




#background {
    background-color: var(--ion-color-step-100);
    height: 100%;
}

#message-input {
    box-shadow: 5px 2px 10px 0px rgba(0, 0, 0, 0.75);
    width: 100%;
    padding-left: 100px;
    padding-right: 20px;
    position: fixed;
    bottom: 0;
    padding-bottom: 0px !important;
    background-color: var(--ion-color-step-200);
    display: flex;
    flex-direction: row;

}

p.insult,
p.insult>ion-note {
    color: white;
    cursor: pointer;
    background-color: var(--ion-color-danger) !important;
}

p.insult:before {
    border-left: 1rem solid var(--ion-color-danger) !important;
}

ion-skeleton-text {
    height: 25px;
    margin: auto;
    margin-top: 10px;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: orange;
    }
}


@media screen and (max-width: 990px) {
    #message-input {
        padding-left: 20px;
    }
}

ion-note {
    margin-left: 0.25rem;
}

.user {
    color: #000;
    font-size: 0.75rem;
    font-weight: bold;
}


.spinner {
    position: fixed;
    left: 50%;
    bottom: 100px;
}
