ion-card {
    width: fit-content;
    min-width: 384px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    margin-top: 50px;
}

.logo {
    width: 100% !important;
    height: 100% !important;
    max-width: 200px !important; //any size
    border-radius: 50%;
}

ion-card img {
    cursor: pointer;
}

ion-item {
  min-width: 352px;
}

ion-input.styled-input {
  margin: 7px 0;
  --padding-start: 7px !important;
  --padding-end: 7px !important;
}

ion-nav-link {
  color: var(--ion-color-secondary);
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}
