<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
    <ion-toggle [checked]="themeSwitcher.toggle" (ionChange)="themeSwitcher.toggleChange($event)" slot="end" class="ion-margin-end">Dark Mode</ion-toggle>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>

    <ion-card>
        <img alt="Profilepicture" src="../assets/logo.png" class="logo">
        <h1>Welcome to Updog!</h1>
        <p>Sign in to continue</p>
        <ion-item lines="none">
            <img (click)="signInWithGoogle()" src="assets/ContinueWithGoogle.svg" alt="Continue with Google">
        </ion-item>
        <ion-text color="danger">
          <p>{{error}}</p>
        </ion-text>
    </ion-card>
</ion-content>
