<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" [disabled]="user == undefined">
      <ion-content>
        <ion-card>
          <ion-item lines="none" [button]="true" id="account-button">
            <ion-avatar slot="start">
              <img alt="Profilepicture" src="{{user?.photoURL}}"/>
            </ion-avatar>
            <div class="profile-text">
              <ion-label>{{user?.displayName}}</ion-label>
              <ion-note>{{user?.email}}</ion-note>
            </div>
          </ion-item>
        </ion-card>
        <ion-popover trigger="account-button" trigger-action="click">
          <ng-template id="account-popover">
            <ion-item>
              <ion-toggle [checked]="themeSwitcher.toggle" (ionChange)="themeSwitcher.toggleChange($event)">Dark Mode</ion-toggle>
            </ion-item>
            <ion-item>
              <ion-button (click)="signOut()" color="danger">Logout</ion-button>
            </ion-item>
          </ng-template>
        </ion-popover>
        <ion-list id="inbox-list">
            <ion-item lines="full" [button]="true" id="add-chat-button">
              <ion-icon name="add" slot="start"></ion-icon>
              <ion-label>Add Chat</ion-label>
            </ion-item>
            <ion-popover trigger="add-chat-button" trigger-action="click">
              <ng-template id="create-chat-popover">
                <ion-list>
                  <ion-item>
                    <ion-select aria-label="participants" placeholder="Select all participants" multiple="true" [(ngModel)]="participants">
                      <ion-select-option *ngFor="let u of otherUsers$ | async"
                                         [value]="u.uid">{{u.displayName}}</ion-select-option>
                    </ion-select>
                  </ion-item>
                </ion-list>
                <ion-item>
                  <ion-button (click)="createChat()" color="primary">Create</ion-button>
                </ion-item>
              </ng-template>
            </ion-popover>
          <ion-menu-toggle auto-hide="false">
            <ion-item  *ngFor="let c of chats; let i = index" routerDirection="root" [routerLink]="'/chat/' + c.uid" lines="full" detail="false"
                      routerLinkActive="selected">
              <ion-avatar slot="start">
                <img alt="Profilepicture" src="{{c.image}}"/>
              </ion-avatar>
              <div class="profile-text">
                <ion-label>{{c.displayName}}</ion-label>
              </div>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <p>Copyright Updog 2023</p>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
