<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" *ngIf="loggedIn$ | async">
      <ion-content>
        <ion-card>
          <ion-item>
          <ion-avatar slot="start">
            <img alt="Profilepicture" src="{{loggedInUser.img}}" />
          </ion-avatar>
          <div class="profile-text">
            <ion-label>{{loggedInUser.displayName}}</ion-label>
            <ion-note>{{loggedInUser.email}}</ion-note>
          </div>
          </ion-item>
        </ion-card>
        <ion-list id="inbox-list">
          <ion-menu-toggle auto-hide="false" *ngFor="let c of chats; let i = index">
            <ion-item routerDirection="root" [routerLink]="'/chat/' + c.chatId" lines="none" detail="false" routerLinkActive="selected">
                <ion-avatar slot="start">
                  <img alt="Profilepicture" src="{{c.img}}" />
                </ion-avatar>
                <div class="profile-text">
                  <ion-label>{{c.displayName}}</ion-label>
                </div>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list id="labels-list">
          <ion-list-header>Actions</ion-list-header>

          <ion-item>
            <ion-button (click)="signOut()">Logout</ion-button>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
