<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Welcome to Updog</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">welcome</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="welcome">
    <div class="instructions">
      <h1>Welcome to Our Chat</h1>
      <h4>We are glad you are here :D</h4>
    </div>
    <img alt="Profilepicture" src="../assets/logo-transparent.png" class="welcome">
  </div>

</ion-content>
