<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
    <ion-toggle [checked]="themeSwitcher.toggle" (ionChange)="themeSwitcher.toggleChange($event)" slot="end"
                class="ion-margin-end">Dark Mode
    </ion-toggle>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Register</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <img alt="Profilepicture" src="../assets/logo.png" class="logo">
    <h1>Welcome to Updog!</h1>
    <p>Sign in to continue</p>
    <ion-list>
      <ion-item lines="none">
        <ion-input class="styled-input" labelPlacement="stacked" type="text" fill="outline" [(ngModel)]="name">
          <div slot="label">Name</div>
        </ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-input class="styled-input" labelPlacement="stacked" type="email" fill="outline" [(ngModel)]="email">
          <div slot="label">Email</div>
        </ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-input class="styled-input" labelPlacement="stacked" type="password" fill="outline" [(ngModel)]="password">
          <div slot="label">Password</div>
        </ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-input class="styled-input" labelPlacement="stacked" type="password" fill="outline" [(ngModel)]="repeatPassword">
          <div slot="label">Repeat Password</div>
        </ion-input>
      </ion-item>
      <ion-item *ngIf="error" lines="none">
        <ion-text color="danger">
          <p>{{error}}</p>
        </ion-text>
      </ion-item>
      <ion-item lines="none">
        <ion-button [routerLink]="'/login'" fill="outline" color="secondary">Back to Login</ion-button>
        <ion-button (click)="signUp()" slot="end" color="primary" [disabled]="!isValid()">Sign Up</ion-button>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
